In [32]:
# %%
import requests
import pandas as pd
from datetime import datetime

from sqlalchemy import create_engine, text
import pymysql  # make sure PyMySQL is installed: pip install pymysql
from sqlalchemy import text  # make sure this import exists somewhere in your notebook

# -------- GLOBAL CONFIG --------
API_KEY = "0ee89ce8a4msh8b1b830f01ac73bp16f732jsn9cab4da9bf81"

DB_USERNAME = "root"
DB_PASSWORD = "Hk12345678"   # <-- change here if your MySQL password changes
DB_HOST = "127.0.0.1"
DB_PORT = 3306
DB_NAME = "cricbuzz_db"

In [33]:
# %%
# Helper: convert epoch millis → datetime string (if needed)
def convert_ts(ts):
    return datetime.utcfromtimestamp(int(ts) / 1000).strftime("%Y-%m-%d %H:%M") if ts else None

def fetch_api(url, host="cricbuzz-cricket.p.rapidapi.com", params=None):
    """
    Generic helper to call any Cricbuzz RapidAPI endpoint.
    You MUST pass the right host:
    - "cricbuzz-cricket.p.rapidapi.com"
    - "cricbuzz-cricket2.p.rapidapi.com"
    """
    headers = {
        "x-rapidapi-key": API_KEY,
        "x-rapidapi-host": host,
    }
    response = requests.get(url, headers=headers, params=params)
    response.raise_for_status()
    return response.json()

def format_scores(team_score):
    """
    Format innings scores like '250/8 (50 ov)' for display.
    """
    if not team_score:
        return ""
    scores = []
    for key, innings in team_score.items():
        if innings:
            runs = innings.get("runs", 0)
            wickets = innings.get("wickets", 0)
            overs = innings.get("overs", 0)
            scores.append(f"{runs}/{wickets} ({overs} ov)")
    return " | ".join(scores)

def create_mysql_engine(username, password, host, port, database):
    """
    Creates and returns a SQLAlchemy MySQL engine using PyMySQL.
    """
    url = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}?charset=utf8mb4"
    engine = create_engine(url, echo=False, pool_recycle=3600)
    return engine

def insert_df_to_mysql(df: pd.DataFrame, engine, table_name: str):
    """
    Insert/Upsert a DataFrame into MySQL using REPLACE INTO.
    - If primary key already exists → row is replaced (no IntegrityError).
    - Works for all your tables that have a primary key.
    """
    if df is None or df.empty:
        print(f"⚠️ DataFrame for '{table_name}' is empty. Skipping insert.")
        return

    # Convert NaN -> None so MySQL sees NULL
    df = df.where(pd.notnull(df), None)

    cols = list(df.columns)
    col_list = ", ".join(cols)
    placeholders = ", ".join([f":{c}" for c in cols])

    sql = f"""
        REPLACE INTO {table_name} ({col_list})
        VALUES ({placeholders})
    """

    records = df.to_dict(orient="records")

    with engine.begin() as conn:
        conn.execute(text(sql), records)

    print(f"✅ Upserted {len(df)} rows into '{table_name}'.")

In [34]:
# %%
# Create a single engine for all further operations
engine = create_mysql_engine(
    username=DB_USERNAME,
    password=DB_PASSWORD,
    host=DB_HOST,
    port=DB_PORT,
    database=DB_NAME,
)
engine

Engine(mysql+pymysql://root:***@127.0.0.1:3306/cricbuzz_db?charset=utf8mb4)

In [35]:
# %%
def extract_recent_matches(data):
    """
    Extract recent match info from /matches/v1/recent response.
    """
    rows = []

    for type_block in data.get("typeMatches", []):
        series_matches = type_block.get("seriesMatches", [])
        for sm in series_matches:
            wrapper = sm.get("seriesAdWrapper") or {}
            series_name = wrapper.get("seriesName")
            matches = wrapper.get("matches", [])

            for m in matches:
                info = m.get("matchInfo", {})
                score = m.get("matchScore", {})

                start_date = None
                if info.get("startDate"):
                    start_date = datetime.fromtimestamp(int(info["startDate"]) / 1000)

                team1_score = format_scores(score.get("team1Score"))
                team2_score = format_scores(score.get("team2Score"))

                row = {
                    "match_id": info.get("matchId"),
                    "match_desc": info.get("matchDesc"),
                    "team1": info.get("team1", {}).get("teamName"),
                    "team2": info.get("team2", {}).get("teamName"),
                    "start_date": start_date,
                    "status": info.get("status"),
                    "state": info.get("state"),
                    "venue": info.get("venueInfo", {}).get("ground"),
                    "venue_city": info.get("venueInfo", {}).get("city"),
                    "series_name": series_name,
                    "match_format": info.get("matchFormat"),
                    "team1_score": team1_score,
                    "team2_score": team2_score,
                }
                rows.append(row)

    return pd.DataFrame(rows)

def create_recent_matches_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS recent_matches (
        match_id BIGINT PRIMARY KEY,
        match_desc VARCHAR(100),
        team1 VARCHAR(50),
        team2 VARCHAR(50),
        start_date DATETIME,
        status VARCHAR(100),
        state VARCHAR(50),
        venue VARCHAR(100),
        venue_city VARCHAR(100),
        series_name VARCHAR(150),
        match_format VARCHAR(20),
        team1_score VARCHAR(50),
        team2_score VARCHAR(50)
    );
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        conn.commit()
    print("✅ Table 'recent_matches' is ready.")

# --- Fetch, transform, load ---
url = "https://cricbuzz-cricket.p.rapidapi.com/matches/v1/recent"
data = fetch_api(url, host="cricbuzz-cricket.p.rapidapi.com")
df_recent_matches = extract_recent_matches(data)

print("Recent Matches DataFrame:")
df_recent_matches.head()

Recent Matches DataFrame:

,match_id,match_desc,team1,team2,start_date,status,state,venue,venue_city,series_name,match_format,team1_score,team2_score
0,117380,2nd Test,South Africa,India,2025-11-22 09:00:00,South Africa won by 408 runs,Complete,Barsapara Cricket Stadium,Guwahati,"South Africa tour of India, 2025",TEST,489/10 (151.1 ov) | 260/5 (78.3 ov),201/10 (83.5 ov) | 140/10 (63.5 ov)
1,108787,1st Test,England,Australia,2025-11-21 07:50:00,Australia won by 8 wkts,Complete,Perth Stadium,Perth,"The Ashes, 2025-26",TEST,172/10 (32.5 ov) | 164/10 (34.4 ov),132/10 (45.2 ov) | 205/2 (28.2 ov)
2,135057,1st T20I,Ireland,Bangladesh,2025-11-27 17:30:00,Ireland won by 39 runs,Complete,Bir Sreshtho Flight Lieutenant Matiur Rahman S...,Chattogram,"Ireland tour of Bangladesh, 2025",T20,181/4 (19.6 ov),142/9 (19.6 ov)
3,135046,2nd Test,Bangladesh,Ireland,2025-11-19 09:00:00,Bangladesh won by 217 runs,Complete,Shere Bangla National Stadium,Dhaka,"Ireland tour of Bangladesh, 2025",TEST,476/10 (141.1 ov) | 297/4 (68.6 ov),265/10 (88.3 ov) | 291/10 (113.3 ov)
4,122660,2-day Warm-up Match,West Indies,New Zealand XI,2025-11-26 03:30:00,Match drawn,Complete,Bert Sutcliffe Oval,Lincoln,"West Indies tour of New Zealand, 2025",TEST,346/5 (95.6 ov),264/10 (73.4 ov)

In [36]:
# %%
create_recent_matches_table(engine)
insert_df_to_mysql(df_recent_matches, engine, table_name="recent_matches")

✅ Table 'recent_matches' is ready.
✅ Upserted 121 rows into 'recent_matches'.

In [37]:
# %%
def extract_stat(data, stat_name, format_type):
    """
    Given player batting/bowling stats (from cricbuzz-cricket2 stats API),
    finds a stat (like 'Runs' or 'Wickets') for a given format (Test/ODI/T20).
    """
    headers = data.get("headers", [])
    values_list = data.get("values", [])

    if format_type not in headers:
        return 0

    col_index = headers.index(format_type)

    for item in values_list:
        row = item.get("values", [])
        if row and row[0].lower() == stat_name.lower():
            value = row[col_index]
            try:
                return int(value)
            except (ValueError, TypeError):
                return 0
    return 0

def sum_stats_across_formats(data, stat_name):
    """
    Sum one stat (Runs / Wickets) across Test, ODI, T20.
    """
    formats = ["Test", "ODI", "T20"]
    total = 0
    for fmt in formats:
        total += extract_stat(data, stat_name, fmt)
    return total

In [39]:
# %%
import time
from requests.exceptions import HTTPError

def fetch_players_summary(player_ids, pause_seconds: float = 0.5):
    """
    Uses cricbuzz-cricket stats API to get profile + batting + bowling summary.
    - Uses ONLY 'cricbuzz-cricket.p.rapidapi.com' (your key has access to this)
    - Sleeps a bit between calls to reduce 429 Too Many Requests
    """
    all_players = []
    base = "https://cricbuzz-cricket.p.rapidapi.com"
    host = "cricbuzz-cricket.p.rapidapi.com"

    for player_id in player_ids:
        try:
            # small pause so we don't spam the API
            time.sleep(pause_seconds)

            # Player general info
            player_info = fetch_api(
                f"{base}/stats/v1/player/{player_id}",
                host=host,
            )

            # Batting stats
            batting_info = fetch_api(
                f"{base}/stats/v1/player/{player_id}/batting",
                host=host,
            )

            # Bowling stats
            bowling_info = fetch_api(
                f"{base}/stats/v1/player/{player_id}/bowling",
                host=host,
            )

            player_data = {
                "player_id": player_id,
                "full_name": player_info.get("name"),
                "name": player_info.get("nickName"),
                "country": player_info.get("intlTeam"),
                "playing_role": player_info.get("role"),
                "batting_style": player_info.get("bat"),
                "bowling_style": player_info.get("bowl"),
                "total_runs": sum_stats_across_formats(batting_info, "Runs"),
                "total_wickets": sum_stats_across_formats(bowling_info, "Wickets"),
            }

            all_players.append(player_data)
            print(f"✅ Player {player_id} data fetched")

        except HTTPError as e:
            status = e.response.status_code if e.response is not None else None
            print(f"❌ HTTP error for player {player_id}: {status} - {e}")
            # If API keeps throwing 403 or 429, just skip that player
            continue
        except Exception as e:
            print(f"❌ Error fetching player {player_id}: {e}")
            continue

    return all_players


# Keep your same list of player_ids
player_ids = [
    576, 25, 265, 1413, 11808, 8733, 10808, 13217, 10551, 9311,
    587, 8808, 9647, 10276, 10744, 8271, 11540, 18504, 9720, 10738,
    9551, 11177, 10100, 8313
]

players_summary = fetch_players_summary(player_ids)
df_players = pd.DataFrame(players_summary)
df_players.head()

✅ Player 576 data fetched
✅ Player 25 data fetched
✅ Player 265 data fetched
✅ Player 1413 data fetched
✅ Player 11808 data fetched
✅ Player 8733 data fetched
✅ Player 10808 data fetched
✅ Player 13217 data fetched
✅ Player 10551 data fetched
✅ Player 9311 data fetched
✅ Player 587 data fetched
✅ Player 8808 data fetched
✅ Player 9647 data fetched
✅ Player 10276 data fetched
✅ Player 10744 data fetched
✅ Player 8271 data fetched
✅ Player 11540 data fetched
✅ Player 18504 data fetched
✅ Player 9720 data fetched
✅ Player 10738 data fetched
✅ Player 9551 data fetched
✅ Player 11177 data fetched
✅ Player 10100 data fetched
✅ Player 8313 data fetched

,player_id,full_name,name,country,playing_role,batting_style,bowling_style,total_runs,total_wickets
0,576,Rohit Sharma,Rohit,India,Batsman,Right Handed Bat,Right-arm offbreak,19902,12
1,25,Sachin Tendulkar,Tendulkar,India,Batsman,Right Handed Bat,Right-arm legbreak,34357,201
2,265,MS Dhoni,Dhoni,India,WK-Batsman,Right Handed Bat,Right-arm medium,17266,1
3,1413,Virat Kohli,Kohli,India,Batsman,Right Handed Bat,Right-arm medium,27673,9
4,11808,Shubman Gill,Gill,India,Batsman,Right Handed Bat,Right-arm offbreak,6498,0

In [40]:
# %%
def create_players_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS players (
        player_id INT PRIMARY KEY,
        full_name VARCHAR(100),
        name VARCHAR(150),
        country VARCHAR(50),
        playing_role VARCHAR(50),
        batting_style VARCHAR(50),
        bowling_style VARCHAR(50),
        total_runs INT,
        total_wickets INT
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'players' is ready.")

create_players_table(engine)
insert_df_to_mysql(df_players, engine, table_name="players")

✅ Table 'players' is ready.
✅ Upserted 24 rows into 'players'.

In [41]:
# %%
def extract_series_matches(data):
    all_matches = []
    match_details = data.get("matchDetails", [])

    for item in match_details:
        map_data = item.get("matchDetailsMap")
        if not map_data:
            continue

        matches = map_data.get("match", [])
        for m in matches:
            info = m.get("matchInfo", {})
            score = m.get("matchScore", {})

            team1_score = format_scores(score.get("team1Score"))
            team2_score = format_scores(score.get("team2Score"))

            start_dt = None
            end_dt = None
            if info.get("startDate"):
                start_dt = datetime.fromtimestamp(int(info["startDate"]) / 1000)
            if info.get("endDate"):
                end_dt = datetime.fromtimestamp(int(info["endDate"]) / 1000)

            match_data = {
                "match_id": info.get("matchId"),
                "match_desc": info.get("matchDesc"),
                "team1": info.get("team1", {}).get("teamName"),
                "team2": info.get("team2", {}).get("teamName"),
                "start_date": start_dt,
                "end_date": end_dt,
                "status": info.get("status"),
                "state": info.get("state"),
                "venue": info.get("venueInfo", {}).get("ground"),
                "series_name": info.get("seriesName"),
                "match_format": info.get("matchFormat"),
                "team1_score": team1_score,
                "team2_score": team2_score,
            }
            all_matches.append(match_data)

    return pd.DataFrame(all_matches)

series_ids = [8393, 4905, 8528, 3692]
all_matches_df = pd.DataFrame()

for sid in series_ids:
    url = f"https://cricbuzz-cricket.p.rapidapi.com/series/v1/{sid}"
    data = fetch_api(url, host="cricbuzz-cricket.p.rapidapi.com")
    df = extract_series_matches(data)
    all_matches_df = pd.concat([all_matches_df, df], ignore_index=True)

print("All Series Matches DataFrame:")
all_matches_df.head()

All Series Matches DataFrame:

,match_id,match_desc,team1,team2,start_date,end_date,status,state,venue,series_name,match_format,team1_score,team2_score
0,100220,1st Test,INDIA,BANGLADESH,2024-09-19 09:30:00,2024-09-23 09:30:00,India won by 280 runs,complete,MA Chidambaram Stadium,"Bangladesh tour of India, 2024",TEST,376/10 (91.2 ov) | 287/4 (64.0 ov),149/10 (47.1 ov) | 234/10 (62.1 ov)
1,100229,2nd Test,INDIA,BANGLADESH,2024-09-27 09:30:00,2024-10-01 09:30:00,India won by 7 wkts,complete,Green Park,"Bangladesh tour of India, 2024",TEST,285/9 (34.4 ov) | 98/3 (17.2 ov),233/10 (74.2 ov) | 146/10 (47.0 ov)
2,100238,1st T20I,INDIA,BANGLADESH,2024-10-06 19:00:00,2024-10-06 19:00:00,India won by 7 wkts,complete,Shrimant Madhavrao Scindia Cricket Stadium,"Bangladesh tour of India, 2024",T20,132/3 (11.5 ov),127/10 (19.5 ov)
3,100247,2nd T20I,INDIA,BANGLADESH,2024-10-09 19:00:00,2024-10-09 19:00:00,India won by 86 runs,complete,Arun Jaitley Stadium,"Bangladesh tour of India, 2024",T20,221/9 (20.0 ov),135/9 (20.0 ov)
4,100256,3rd T20I,INDIA,BANGLADESH,2024-10-12 19:00:00,2024-10-12 19:00:00,India won by 133 runs,complete,Rajiv Gandhi International Stadium,"Bangladesh tour of India, 2024",T20,297/6 (20.0 ov),164/7 (20.0 ov)

In [42]:
# %%
def create_series_matches_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS series_matches (
        match_id BIGINT PRIMARY KEY,
        match_desc VARCHAR(100),
        team1 VARCHAR(50),
        team2 VARCHAR(50),
        start_date DATETIME,
        end_date DATETIME,
        status VARCHAR(100),
        state VARCHAR(50),
        venue VARCHAR(100),
        series_name VARCHAR(150),
        match_format VARCHAR(20),
        team1_score VARCHAR(50),
        team2_score VARCHAR(50)
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'series_matches' is ready.")

create_series_matches_table(engine)
insert_df_to_mysql(all_matches_df, engine, table_name="series_matches")

✅ Table 'series_matches' is ready.
✅ Upserted 21 rows into 'series_matches'.

In [44]:
# %%
def fetch_top_odi_runs():
    """
    Fetches top ODI run scorers from Cricbuzz API and returns a DataFrame.
    """
    url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/topstats/0"
    querystring = {"statsType": "mostRuns", "matchType": "2"}  # "2" = ODI

    data = fetch_api(url, params=querystring, host="cricbuzz-cricket.p.rapidapi.com")

    rows = []
    values = data.get("values", [])

    for item in values:
        row = item.get("values", [])
        if len(row) >= 6:
            try:
                rows.append({
                    "player_id": int(row[0]),
                    "player_name": row[1],
                    "matches": int(row[2]),
                    "innings": int(row[3]),
                    "runs": int(row[4]),
                    "average": float(row[5]),
                })
            except ValueError:
                continue

    return pd.DataFrame(rows)

df_odi_topruns = fetch_top_odi_runs()
print("Top ODI Run Scorers DataFrame:")
df_odi_topruns.head()

Top ODI Run Scorers DataFrame:

   player_id   player_name  matches  innings   runs  average
0         25     Tendulkar      463      452  18426    44.83
1       1413         Kohli      305      293  14255    57.71
2        104    Sangakkara      404      380  14234    41.99
3         38     R Ponting      375      365  13704    42.04
4        102  S Jayasuriya      445      433  13430    32.36

In [45]:
# %%
def create_top_odi_runs_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS top_odi_runs (
        player_id BIGINT PRIMARY KEY,
        player_name VARCHAR(100),
        matches INT,
        innings INT,
        runs INT,
        average FLOAT
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'top_odi_runs' is ready.")

create_top_odi_runs_table(engine)
insert_df_to_mysql(df_odi_topruns, engine, table_name="top_odi_runs")

✅ Table 'top_odi_runs' is ready.
✅ Upserted 20 rows into 'top_odi_runs'.

In [46]:
# %%
def extract_players_stats(player_ids):
    """
    Fetch player profile and batting stats for a list of player IDs.
    Returns:
      player_id, player_name, role, test_runs, odi_runs, t20_runs
    """
    all_players = []

    for pid in player_ids:
        profile_url = f"https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/{pid}"
        profile_data = fetch_api(profile_url, host="cricbuzz-cricket.p.rapidapi.com")

        player_name = profile_data.get("name")
        role = profile_data.get("role")

        batting_url = f"https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/{pid}/batting"
        batting_data = fetch_api(batting_url, host="cricbuzz-cricket.p.rapidapi.com")

        test_runs = odi_runs = t20_runs = 0

        values = batting_data.get("values", [])
        for item in values:
            row = item.get("values", [])
            if row and row[0] == "Runs":
                test_runs = int(row[1]) if row[1].isdigit() else 0
                odi_runs = int(row[2]) if row[2].isdigit() else 0
                t20_runs = int(row[3]) if row[3].isdigit() else 0

        all_players.append({
            "player_id": pid,
            "player_name": player_name,
            "role": role,
            "test_runs": test_runs,
            "odi_runs": odi_runs,
            "t20_runs": t20_runs,
        })

    return pd.DataFrame(all_players)

player_ids = [576, 1413, 265, 247, 2250, 8019, 6326]
df_players_stats = extract_players_stats(player_ids)
df_players_stats.head()

   player_id   player_name        role  test_runs  odi_runs  t20_runs
0        576  Rohit Sharma     Batsman       4301     11370      4231
1       1413   Virat Kohli     Batsman       9230     14255      4188
2        265      MS Dhoni  WK-Batsman       4876     10773      1617
3        247   Chris Gayle     Batsman       7215     10480      1899
4       2250  Steven Smith     Batsman      10496      5800      1094

In [47]:
# %%
def create_players_stats_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS players_stats (
        player_id BIGINT PRIMARY KEY,
        player_name VARCHAR(100),
        role VARCHAR(50),
        test_runs INT,
        odi_runs INT,
        t20_runs INT
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'players_stats' is ready.")

create_players_stats_table(engine)
insert_df_to_mysql(df_players_stats, engine, "players_stats")

✅ Table 'players_stats' is ready.
✅ Upserted 7 rows into 'players_stats'.

In [48]:
# %%
def fetch_matches_api(url):
    return fetch_api(url, host="cricbuzz-cricket.p.rapidapi.com")

def extract_combined_match_data(match_ids):
    all_matches = []

    for mid in match_ids:
        try:
            url_match = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}"
            url_leanback = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/leanback"

            match_data = fetch_matches_api(url_match)
            leanback_data = fetch_matches_api(url_leanback)

            match_id = match_data.get("matchid")
            series_name = match_data.get("seriesname")
            match_format = match_data.get("matchformat")
            match_date = (
                datetime.fromtimestamp(match_data.get("startdate", 0) / 1000).date()
                if match_data.get("startdate") else None
            )
            venue = match_data.get("venueinfo", {}).get("ground")
            team1 = match_data.get("team1", {}).get("teamname")
            team2 = match_data.get("team2", {}).get("teamname")

            toss_info = leanback_data.get("matchheaders", {}).get("tossresults", {})
            toss_winner = toss_info.get("tosswinnername")
            toss_decision = toss_info.get("decision")

            matchheaders = leanback_data.get("matchheaders", {})
            match_winner = None
            if matchheaders.get("status"):
                match_winner = matchheaders["status"].split(" won")[0]

            match_info = {
                "match_id": match_id,
                "format": match_format,
                "series_name": series_name,
                "match_date": match_date,
                "venue": venue,
                "team1": team1,
                "team2": team2,
                "toss_winner": toss_winner,
                "toss_decision": toss_decision,
                "match_winner": match_winner,
                "win_margin": matchheaders.get("status"),
            }

            all_matches.append(match_info)

        except Exception as e:
            print(f"❌ Failed to fetch match {mid}: {e}")

    return pd.DataFrame(all_matches)

match_ids = [
    100283, 100290, 130019, 82462, 116981, 116990, 76465, 105804, 87626, 87878,
    116972, 69862, 43061, 76535, 100312, 100321, 112462, 60035, 78558, 60042,
    100328, 75476, 59979, 59981, 30554, 32047, 77894, 91778, 91787, 105780,
    105770, 105762
]

df_combined_matches = extract_combined_match_data(match_ids)
df_combined_matches.head()

,match_id,format,series_name,match_date,venue,team1,team2,toss_winner,toss_decision,match_winner,win_margin
0,100283,T20,"England tour of India, 2025",2025-01-22,Eden Gardens,India,England,India,Bowling,India,India won by 7 wkts
1,100290,T20,"England tour of India, 2025",2025-01-25,MA Chidambaram Stadium,India,England,India,Bowling,India,India won by 2 wkts
2,130019,T20,Asia Cup 2025,2025-09-10,Dubai International Cricket Stadium,India,United Arab Emirates,India,Bowling,India,India won by 9 wkts
3,82462,T20,"Australia tour of India, 2023",2023-12-01,Shaheed Veer Narayan Singh International Stadium,India,Australia,Australia,Bowling,India,India won by 20 runs
4,116981,T20,"South Africa tour of Australia, 2025",2025-08-12,Marrara Cricket Ground,Australia,South Africa,Australia,Bowling,South Africa,South Africa won by 53 runs

In [49]:
# %%
def create_combined_matches_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS combined_matches (
        match_id BIGINT PRIMARY KEY,
        format VARCHAR(20),
        series_name VARCHAR(150),
        match_date DATE,
        venue VARCHAR(100),
        team1 VARCHAR(50),
        team2 VARCHAR(50),
        toss_winner VARCHAR(50),
        toss_decision VARCHAR(20),
        match_winner VARCHAR(50),
        win_margin VARCHAR(100)
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'combined_matches' is ready.")

create_combined_matches_table(engine)
insert_df_to_mysql(df_combined_matches, engine, table_name="combined_matches")

✅ Table 'combined_matches' is ready.
✅ Upserted 32 rows into 'combined_matches'.

In [50]:
# %%
def extract_batting_data(match_ids):
    all_records = []

    for mid in match_ids:
        try:
            url = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            data = fetch_matches_api(url)

            for innings in data.get("scorecard", []):
                team_name = innings.get("batteamname")
                batsmen = innings.get("batsman", [])

                for bat in batsmen:
                    all_records.append({
                        "match_id": mid,
                        "innings_no": innings.get("inningsid"),
                        "team": team_name,
                        "player_id": bat.get("id"),
                        "player_name": bat.get("name"),
                        "runs": int(bat.get("runs", 0)),
                        "balls_faced": int(bat.get("balls", 0)),
                        "fours": int(bat.get("fours", 0)),
                        "sixes": int(bat.get("sixes", 0)),
                        "strike_rate": float(bat.get("strkrate", 0)),
                        "dismissal": bat.get("outdec"),
                    })
        except Exception as e:
            print(f"❌ Failed to fetch match {mid}: {e}")

    return pd.DataFrame(all_records)

df_batting = extract_batting_data(match_ids)
df_batting.head()

,match_id,innings_no,team,player_id,player_name,runs,balls_faced,fours,sixes,strike_rate,dismissal
0,100283,1,England,10479,Salt,0,3,0,0,0.00,c Samson b Arshdeep Singh
1,100283,1,England,8502,Duckett,4,4,1,0,100.00,c Rinku Singh b Arshdeep Singh
2,100283,1,England,2258,Jos Buttler,68,44,8,2,154.55,c Nitish Reddy b Varun Chakravarthy
3,100283,1,England,12201,Harry Brook,17,14,2,1,121.43,b Varun Chakravarthy
4,100283,1,England,10045,Livingstone,0,2,0,0,0.00,b Varun Chakravarthy

In [51]:
# %%
def create_batting_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS batting_data (
        match_id BIGINT,
        innings_no INT,
        team VARCHAR(100),
        player_id BIGINT,
        player_name VARCHAR(100),
        runs INT,
        balls_faced INT,
        fours INT,
        sixes INT,
        strike_rate FLOAT,
        dismissal VARCHAR(200)
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'batting_data' is ready.")

create_batting_table(engine)
insert_df_to_mysql(df_batting, engine, table_name="batting_data")

✅ Table 'batting_data' is ready.
✅ Upserted 869 rows into 'batting_data'.

In [52]:
# %%
def extract_bowling_data(match_ids):
    all_records = []

    for mid in match_ids:
        try:
            url = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            data = fetch_matches_api(url)

            for innings in data.get("scorecard", []):
                team_name = innings.get("batteamname")
                bowlers = innings.get("bowler", [])

                for bowler in bowlers:
                    all_records.append({
                        "match_id": mid,
                        "player_id": bowler.get("id"),
                        "player_name": bowler.get("name"),
                        "team": team_name,
                        "overs": float(bowler.get("overs", 0)),
                        "maidens": int(bowler.get("maidens", 0)),
                        "runs_conceded": int(bowler.get("runs", 0)),
                        "wickets": int(bowler.get("wickets", 0)),
                        "economy_rate": float(bowler.get("economy", 0)),
                    })
        except Exception as e:
            print(f"❌ Failed to fetch match {mid}: {e}")

    return pd.DataFrame(all_records)

df_bowling = extract_bowling_data(match_ids)
df_bowling.head()

,match_id,player_id,player_name,team,overs,maidens,runs_conceded,wickets,economy_rate
0,100283,13217,Arshdeep Singh,England,4.0,0,17,2,4.2
1,100283,9647,Hardik Pandya,England,4.0,0,42,2,10.5
2,100283,12926,Varun Chakravarthy,England,4.0,0,23,3,5.8
3,100283,8808,Axar,England,4.0,1,22,2,5.5
4,100283,14659,Ravi Bishnoi,England,4.0,0,22,0,5.5

In [53]:
# %%
def create_bowling_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS bowling_data (
        match_id BIGINT,
        player_id BIGINT,
        player_name VARCHAR(100),
        team VARCHAR(100),
        overs FLOAT,
        maidens INT,
        runs_conceded INT,
        wickets INT,
        economy_rate FLOAT
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'bowling_data' is ready.")

create_bowling_table(engine)
insert_df_to_mysql(df_bowling, engine, table_name="bowling_data")

✅ Table 'bowling_data' is ready.
✅ Upserted 429 rows into 'bowling_data'.

In [54]:
# %%
def fetch_batting_multiple_matches(match_ids):
    records = []

    for match_id in match_ids:
        url = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{match_id}/hscard"
        data = fetch_matches_api(url)

        if not data:
            continue

        match_date = None
        match_date_ms = data.get("responselastupdated")
        if match_date_ms:
            match_date = datetime.fromtimestamp(match_date_ms / 1000).date()

        for innings in data.get("scorecard", []):
            innings_no = innings.get("inningsid")
            batsmen_list = innings.get("batsman", [])

            for batsman in batsmen_list:
                record = {
                    "match_id": match_id,
                    "innings_no": innings_no,
                    "player_id": batsman.get("id"),
                    "player_name": batsman.get("name"),
                    "runs": int(batsman.get("runs", 0)),
                    "balls_faced": int(batsman.get("balls", 0)),
                    "strike_rate": float(batsman.get("strkrate", 0)),
                    "date": match_date,
                }
                records.append(record)

    return pd.DataFrame(records)

df_all_batting = fetch_batting_multiple_matches(match_ids)
df_all_batting.head()

,match_id,innings_no,player_id,player_name,runs,balls_faced,strike_rate,date
0,100283,1,10479,Salt,0,3,0.00,1970-01-21
1,100283,1,8502,Duckett,4,4,100.00,1970-01-21
2,100283,1,2258,Jos Buttler,68,44,154.55,1970-01-21
3,100283,1,12201,Harry Brook,17,14,121.43,1970-01-21
4,100283,1,10045,Livingstone,0,2,0.00,1970-01-21

In [55]:
# %%
def create_batters_batting_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS batters_batting_data (
        match_id BIGINT,
        innings_no INT,
        player_id BIGINT,
        player_name VARCHAR(100),
        runs INT,
        balls_faced INT,
        strike_rate FLOAT,
        date DATE
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'batters_batting_data' is ready.")

create_batters_batting_table(engine)
insert_df_to_mysql(df_all_batting, engine, "batters_batting_data")

✅ Table 'batters_batting_data' is ready.
✅ Upserted 869 rows into 'batters_batting_data'.

In [57]:
# %%
def extract_bowling_innings_data(match_ids):
    """
    Extracts bowling data for multiple matches, including venue information.
    Uses the generic fetch_api helper (with correct host).
    """
    all_bowling_innings = []

    for mid in match_ids:
        try:
            # --- API URLs ---
            url_scorecard = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            url_match = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}"

            # Use the generic fetch_api (host = cricbuzz-cricket.p.rapidapi.com)
            scorecard_data = fetch_api(url_scorecard, host="cricbuzz-cricket.p.rapidapi.com")
            match_data = fetch_api(url_match, host="cricbuzz-cricket.p.rapidapi.com")

            if not scorecard_data or not match_data:
                continue

            # ---- Venue info ----
            venue_info = match_data.get("venueinfo", {})
            venue = f"{venue_info.get('ground', '')}, {venue_info.get('city', '')}".strip(", ")
            if not venue:
                venue = venue_info.get("ground", "") or venue_info.get("city", "")

            match_id = match_data.get("matchid", mid)
            score_cards = scorecard_data.get("scorecard", [])

            # ---- Bowling per innings ----
            for innings in score_cards:
                innings_no = innings.get("inningsid", 0)
                bowlers_list = innings.get("bowler", [])

                for bowler_info in bowlers_list:
                    bowling_record = {
                        "match_id": match_id,
                        "innings_no": innings_no,
                        "player_id": bowler_info.get("id", 0),
                        "player_name": bowler_info.get("name", ""),
                        "overs": float(bowler_info.get("overs", 0)),
                        "runs_conceded": int(bowler_info.get("runs", 0)),
                        "wickets": int(bowler_info.get("wickets", 0)),
                        "economy_rate": float(bowler_info.get("economy", 0)),
                        "venue": venue,
                    }
                    all_bowling_innings.append(bowling_record)

        except Exception as e:
            print(f"❌ Failed to fetch bowling data for match {mid}: {e}")

    return pd.DataFrame(all_bowling_innings)


# Example call
bowling_match_ids = [100283, 38617, 38612, 38627, 75623, 78621, 48121, 70326, 91787, 60035, 100310, 75563]
df_bowling_innings = extract_bowling_innings_data(bowling_match_ids)
df_bowling_innings.head()

,match_id,innings_no,player_id,player_name,overs,runs_conceded,wickets,economy_rate,venue
0,100283,1,13217,Arshdeep Singh,4.0,17,2,4.2,"Eden Gardens, Kolkata"
1,100283,1,9647,Hardik Pandya,4.0,42,2,10.5,"Eden Gardens, Kolkata"
2,100283,1,12926,Varun Chakravarthy,4.0,23,3,5.8,"Eden Gardens, Kolkata"
3,100283,1,8808,Axar,4.0,22,2,5.5,"Eden Gardens, Kolkata"
4,100283,1,14659,Ravi Bishnoi,4.0,22,0,5.5,"Eden Gardens, Kolkata"

In [58]:
# %%
def create_bowling_innings_table(engine):
    create_query = """
    CREATE TABLE IF NOT EXISTS bowlers_bowling_venue_data (
        match_id INT,
        innings_no INT,
        player_id INT,
        player_name VARCHAR(100),
        overs FLOAT,
        runs_conceded INT,
        wickets INT,
        economy_rate FLOAT,
        venue VARCHAR(200)
    )
    """
    with engine.connect() as conn:
        conn.execute(text(create_query))
        print("✅ Table 'bowlers_bowling_venue_data' is ready.")

create_bowling_innings_table(engine)
insert_df_to_mysql(df_bowling_innings, engine, "bowlers_bowling_venue_data")

✅ Table 'bowlers_bowling_venue_data' is ready.
✅ Upserted 174 rows into 'bowlers_bowling_venue_data'.